---
import { Markdown } from 'astro/components';
---

<div class="content">
	<h1 class="heading">william to</h1>
	<p class="body">
		i am a front-end developer with a focus on<br/>
		efficiency, scalability and accessibility.
	</p>
	<ul class="contacts">
		<li class="contact">
			<a href="mailto:to_william@icloud.com" target="_blank">email</a>
		</li>
		<li class="contact">
			<a href="https://www.github.com" target="_blank">github</a>
		</li>
		<li class="contact">
			<a href="https://www.github.com" target="_blank">linkedin</a>
		</li>
		<li class="contact">
			<a href="/assets/resume.pdf" target="_blank">resume</a>
		</li>
	</ul>
</div>

<style>
	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 30px;
	}

	.heading {
		font-family: "IBM Plex Mono", monospace;
		font-size: 1rem;
		font-weight: 600;
	}

	.body,
	.contact a {
		font-family: "IBM Plex Mono", monospace;
		font-size: 1rem;
		font-weight: 400;
		text-align: center;
		color: var(--colour-black);
	}

	.contact a:visited {
		color: var(--colour-black);
	}

	.contacts {
		list-style-type: none;
		display: flex;
		column-gap: 40px;
	}

	.contact {
		display: inline-block;
	}
</style>
